<%# Navbar %>
<%# Banner %>
<div class="banner">
  <div class="container d-flex align-content-around flex-wrap">
    <h1>Sail boats all around the world</h1>
    <%# Searchbar %>
    <%= render 'shared/search_bar' %>
  </div>
</div>

<%# Cards %>
<div class="container">

 <p> <%= link_to 'create a new conveying', new_conveying_path %></p>

  <div class="row my-3">
    <!-- Display last 3 conveyings created in DB -->
    <% @last_three_conveyings.each do |conveying| %>
      <div class="col-4">
        <div class="card">
          <%= conveying.start_location %> > <%= conveying.arrival_location %>
          before <%= conveying.arrival_date %>
          <%= conveying.price %>€
        </div>
      </div>
    <% end %>

  </div>
</div>
