<%# Navbar %>
<%# Banner %>
<div class="banner">
  <div class="container d-flex align-content-around flex-wrap">
    <h1>Sail boats all around the world</h1>
    <%# Searchbar %>
    <%= render 'shared/search_bar' %>
  </div>
</div>

<%# Cards %>
<div class="container">

  <div class="row my-3">
    <!-- Display last 3 conveyings created in DB -->
    <% @last_three_conveyings.each do |conveying| %>

     <!-- display en 3 colonnes -->
      <div class="col-4">
        <%= link_to conveying_path(conveying) do %>
        <div class="card">
            <%  conveying.photos.each do |photo|%>
            <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
            <% end %>
            <!-- <img src="https://source.unsplash.com/random" alt="boat picture" /> -->
          <div class="card-infos">
            <div >
              <h2><%= conveying.start_location %> > <%= conveying.arrival_location %></h2>
              <p>before <%= conveying.arrival_date %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
