<h1>Search results</h1>

<% @conveyings.each do |conveying| %>
  <%= link_to conveying_path(conveying) do %>
    <div class="card">
      <%= conveying.boat_name %>
      <%= conveying.boat_type %>
      <%= conveying.start_location %> <%= conveying.arrival_location %>
    </div>
  <% end %>
<% end %>

<%= link_to 'Back to home page', root_path %>
