<div class="container" style="min-height: 85vh">
  <h1>Search results (<%= @conveyings.count %>)</h1>

  <div class="row justify-content-end">
    <button type="button" class="btn btn-outline-primary" id="btn-map">Display map</button>
    <button type="button" class="btn btn-outline-primary hidden" id="btn-list">Display list</button>
  </div>
  <div class="row my-3" id="cards-result">
    <% @conveyings.each do |conveying| %>
    <div class="col-4 my-3">
      <%= link_to conveying_path(conveying) do %>
      <div class="card">
        <div id="Carroussel<%= conveying.id %>" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <%  conveying.photos.each_with_index do |photo, index|%>
              <% if index == 0 %>
                <div class="carousel-item active">
                  <%= cl_image_tag photo.key, class: "d-block w-100"%>
                </div>
              <% else %>
                <div class="carousel-item">
                  <%= cl_image_tag photo.key, class: "d-block w-100"%>
                </div>
              <% end %>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#Carroussel<%= conveying.id %>" role="button" data-slide="prev">
            <i class="fas fa-chevron-left"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#Carroussel<%= conveying.id %>" role="button" data-slide="next">
            <i class="fas fa-chevron-right"></i>
            <span class="sr-only">Next</span>
          </a>
        </div>
          
        <div class="card-infos">
          <div>
            <h2><%= conveying.start_location %> > <%= conveying.arrival_location %></h2>
            <p>before <%= conveying.arrival_date.strftime("%B %d, %Y") %></p>
          </div>
          <h2><%= conveying.price %>€</h2>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>

  <div id="map"
     class="hidden"
     style="width: 100%; height: 600px; margin: 24px 0 24px 0"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <%= link_to 'Back to home page', root_path %>
</div>
