
<div class="boat-image-parent">
    <%= cl_image_tag @conveying.photos.first.key, class: "boat-image-child-one"%>
    <%  @conveying.photos.each do |photo|%>
      <%= cl_image_tag photo.key, class: "boat-image-child-two"%>
    <% end %>
</div>


<div class="boat-details">
  <div class="container">
    <div class="card m-3">
      <div class="card-body">
        <h5> <%=  @conveying.boat_name %></h5>
        <p class="card-text"> Type de bateau : <%= @conveying.boat_type %></p>
        <p class="card-text"> Lieu de départ : <%= @conveying.start_location %></p>
        <p class="card-text"> Lieu d'arrivée : <%= @conveying.arrival_location %></p>
        <p class="card-text"> Date de fin de convoyage : <%= @conveying.arrival_date %></p>
        <p class="card-text"> Capacité : <%= @conveying.capacity %></p>
        <p class="card-text"> Rémunération : <%= @conveying.price %>€</p>
      </div>
    </div>

    <div class="card m-3">
      <div class="card-header">
        Book your dates

      </div>

      <div class="card m-3">
        <div class="card-header">
          Book your dates
        </div>
        <div class="m-3">
          <%= simple_form_for [@conveying, @booking] do |f| %>
            <%= f.input :start_time%>
            <%= f.input :end_time%>
            <% if policy(Booking).create? %>
            <%= f.button :submit, "Book Conveying", :class => "btn btn-primary w-100" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
